certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
idna==3.10
Metaphone==0.6
numpy
PyAudio==0.2.14
pycparser==2.22
RapidFuzz==3.12.2
requests==2.32.3
scipy==1.9.3  
srt==3.5.3
tqdm==4.67.1
urllib3==2.3.0
vosk==0.3.45
webrtcvad==2.0.10
websockets==15.0.1
